button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#song-cover {
    max-width: 20vh;
    max-height: 20vh;
    border-radius: 50%;
}

#genre {
    color: var(--fg-dark);
    font-size: 1rem;
}

#song {
    color: var(--fg-light);
    font-size: 3em;
    margin-bottom: 0;
}

#band {
    color: var(--fg-dark);
    font-size: 2em;
    margin-top: 0;
}

#progress-time {
    color: var(--fg-dark);
    font-size: 1em;
}


/* -------------------------------- */


/* plylist elements styles start here */


/* -------------------------------- */

.playlist-complete,
.nav-list,
.sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20em;
    overflow: auto;
}

.playlist-complete .playlist-element,
.nav-list .nav-element,
.sidebar-list .sidebar-element {
    border-top: .15rem solid var(--border-color);
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-complete .playlist-element:first-child {
    border-top: 0;
}

.nav-list:last-child,
.sidebar-list:last-child {
    border-bottom: .15rem solid var(--border-color);
}

.playlist-song-duration {
    background-color: var(--fg-dark);
    font-size: 80%;
    border-radius: 10em;
    min-width: 1.5em;
    padding: .25em;
    text-align: center
}

.sidebar-list>.sidebar-element {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;
}

.nav-list>.nav-element {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
}


/* -------------------------------- */


/* control incons styles start here */


/* -------------------------------- */

#remove-empty {
    font-size: 1.15em;
    color: var(--fg-light);
    margin-right: .5em;
}

#remove-empty #remove {
    font-size: 1.15em;
    color: var(--fg-dark);
    margin-right: .5em;
}

#skip-prev {
    font-size: 2.5em;
    color: var(--fg-light);
}

#skip-next {
    font-size: 2.5em;
    color: var(--fg-light);
}

#play {
    font-size: 3.6em;
    width: 4rem;
    color: var(--fg-light);
}

#pause {
    font-size: 3.5em;
    width: 4rem;
    color: var(--fg-light);
}

#fav {
    font-size: 1.15em;
    color: var(--fg);
    margin-left: .5em;
}

#fav-empty {
    display: none;
    font-size: 1.15em;
    color: var(--fg-light);
    margin-left: .5em;
}


/* -------------------------------- */


/* player incons styles start here */


/* -------------------------------- */

#shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    color: var(--fg-light);
    margin-right: .5em;
}

#playlist-play {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25em;
    color: var(--fg-light);
    margin-right: .5em;
}

#mute {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: var(--fg-light);
}

#unmute {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 2em;
    color: var(--fg-light);
}

#autorenew {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    color: var(--fg-light);
}

.playing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}