#wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    /*for gradients and swatches, go to: https://cssgradient.io/ */
    background: rgb(80, 115, 107);
    background: linear-gradient(180deg, var(--bg-light) 0%, var(--bg-dark) 100%);
}

.landing {
    display: grid;
    max-width: 100%;
    max-height: 100%;
}

.nav-handler {
    grid-area: nav-handler;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-handler {
    grid-area: sidebar-handler;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist {
    grid-area: playlist;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genre {
    grid-area: genre;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress {
    grid-area: prog;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls {
    grid-area: controls;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    grid-area: player;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: right;
}