html,
body {
    border: 2px solid #000;
    background-color: #eee;
}

.Landing {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "drop genre menus" "title title title" "prog prog prog" "controls controls controls" "player player player";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.Drop {
    grid-area: drop;
    border: 1px solid black;
}

.Genre {
    grid-area: genre;
    border: 1px solid black;
}

.Menu {
    grid-area: menus;
    border: 1px solid black;
}

.Title {
    grid-area: title;
    border: 1px solid black;
}

.Progress {
    grid-area: prog;
    border: 1px solid black;
}

.Controls {
    grid-area: controls;
    border: 1px solid black;
}

.Player {
    grid-area: player;
    border: 1px solid black;
}