html, body{
    border: 2px solid #000; 
    background-color: #eee;
} 

.landing {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 3.5fr 1fr 1fr;
    grid-template-areas: 
        "drop genre menus"
        "title title title"
        "prog prog prog"
        "controls controls controls"
        "player player player";
    border: 2px solid #000; 
  }

 .Drop { 
    grid-area: drop; 
    border: 2px solid #000; 
}

 .Genre { 
    grid-area: genre;
 }

 .Menu { 
    grid-area: menus; 
}


 .Title { 
    grid-area: title;
 }

 .Progress { 
    grid-area: prog; 
}


 .Controls { 
    grid-area: controls; 
}

 .Player { 
    grid-area: player; 
}